


.tasks {
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
}


.tasks h1 {
  color: #3a8dde;
  text-align: center;
}


.tasks input {
  width: 100%;
  height: 1.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: auto;
}


.add-button {
  width: 100%;
  padding: 8px;
  background-color: #3a8dde;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

ol {
  width: 300px;
  margin: auto;
  padding: 0;
}


li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  list-style: none;
}


.completed {
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  text-decoration: line-through;
  color: gray;
}


button {
  margin-top: 8px;
  margin-right: 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.delete {
  background-color: #ff4d4d;
  color: white;
}

